{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block topOfBody %}
    <div id="modal-popup" class="popup-wrap">
			<div class="popup-detail">
				<div class="popup-top">
					<div class="left">
						<span style="font-size:22px; margin-left:10px">등록/수정</span>
					</div>
					<div class="right popup-exit">
						<img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-WhiteList').hide()" alt="popup-exit" />
					</div>
				</div> <!-- popup-top -->

				<div class="popup-cont">
					<form id="popup-form" data-parsley-validate="">
                    <input type="hidden" name="pop_seq" id="pop_seq"/>
                        <div class="popup-input-wrap pop-area">
                            <!--<label >고객유형</label><input type="text" id="pop_Customer_Category" name="url" style="width:480px"><br><br>-->
                            <label >타입</label>
                            <select id="pop_Type" style="width:480px; margin-left:3px;" name="type">
                                <!--<option value="자동 등록">자동 등록</option>-->
                                <!--<option value="수동 등록">수동 등록</option>-->
                                {% for type in typeCategoryList %}
                                    <option value="{{ type }}">{{type}}</option>
                                {% endfor %}
                            </select><br><br>
                            <label >IPS 정책명</label><input type="text" id="pop_IPS_Policy" name="url" style="width:480px" required><br><br>
                            <label >IPS 정책번호</label><input type="text" id="pop_IPS_Policy_No" name="url" style="width:480px" required><br><br>
                            <label >SRC_IP 유형</label>
                            <select id="pop_SRC_IP_Type" style="width:480px; margin-left:3px;" name="type">
                                <!--<option value="자동 등록">자동 등록</option>-->
                                <!--<option value="수동 등록">수동 등록</option>-->
                                {% for ipCago in IPCategoryList %}
                                    <option value="{{ ipCago }}">{{ipCago}}</option>
                                {% endfor %}
                            </select><br><br>
                            <label >DST_IP 유형</label>
                            <select id="pop_DST_IP_Type" style="width:480px; margin-left:3px;" name="type">
                                <!--<option value="자동 등록">자동 등록</option>-->
                                <!--<option value="수동 등록">수동 등록</option>-->
                                {% for ipCatego in IPCategoryList %}
                                    <option value="{{  ipCatego }}">{{ ipCatego}}</option>
                                {% endfor %}
                            </select><br><br>
                            <label >DST_IP 유형</label>
                            <select id="pop_Regular_Exp_Name" style="width:480px; margin-left:3px;" name="type">
                                <!--<option value="자동 등록">자동 등록</option>-->
                                <!--<option value="수동 등록">수동 등록</option>-->
                                {% for regularExpName in RegularExpressionList %}
                                    <option value="{{ regularExpName }}">{{regularExpName}}</option>
                                {% endfor %}
                            </select><br><br>
                            <!--<label >IP</label><input type="text" id="pop_IP_Address" style="width:480px" name="ip"-->
                                                     <!--placeholder=""-->
                                                     <!--&lt;!&ndash;data-parsley-pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"&ndash;&gt;-->
                            <!--/><br><br>-->
                            <!--<label >지사</label><input type="text" id="pop_Branch" name="url" style="width:480px"><br><br>-->
                            <!--<label >유형</label>-->
                            <!--<input type="text" id="pop_desc" name="desc" style="width:480px" hidden>-->
                            <!--<select id="pop_desc_drop" style="width:480px; margin-left:3px;" name="type">-->
                                <!--<option value="자동 등록">자동 등록</option>-->
                                <!--<option value="수동 등록">수동 등록</option>-->
                                <!--&lt;!&ndash;<option value="AntiVirus">AntiVirus</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="SNS">SNS</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="Network">Network</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="Server">Server</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="Etc">Etc</option>&ndash;&gt;-->
                            <!--</select>-->
                            <!--&lt;!&ndash;<br><br>&ndash;&gt;-->
                            <!--<br><br>-->
                            <!--&lt;!&ndash;<div id="pop_type_selector_div">&ndash;&gt;-->
                            <!--<label class="pop_type_selector">세부유형</label>-->
                            <!--<select class="pop_type_selector" id="pop_type" style="width:480px; margin-left:3px;" name="type">-->
                                <!--<option value="Portal">Portal</option>-->
                                <!--<option value="Video">Video</option>-->
                                <!--<option value="AntiVirus">AntiVirus</option>-->
                                <!--<option value="SNS">SNS</option>-->
                                <!--<option value="Network">Network</option>-->
                                <!--<option value="Server">Server</option>-->
                                <!--<option value="Etc">Etc</option>-->
                            <!--</select>-->
                            <!--<br class="pop_type_selector"><br class="pop_type_selector">-->
                            <!--<label >IP</label><input type="text" id="pop_pattern" style="width:480px" name="ip" placeholder=""-->
                                                     <!--data-parsley-pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"/><br><br>-->

                            <!--<label >비밀번호</label><input type="text" id="pop_IPS_password" name="url" style="width:480px"><br><br>-->
                            <!--<label >Mask</label><input type="text" id="pop_mask" style="width:480px" name="mask" placeholder = "" value="20"><br><br>-->
                            <!--<label >Mask</label>-->
                            <!--<select id="pop_mask" style="width:480px; margin-left:3px;" name="mask">-->
                                <!--<option value="32">32</option>-->
                                <!--<option value="24">24</option>-->
                                <!--<option value="16">16</option>-->
                                <!--<option value="8">8</option>-->
                            <!--</select><br><br>-->
                            <!--<label >비고</label><input type="text" id="pop_etc" name="url" style="width:480px"><br><br>-->
                            <!--<label >설명</label><input type="text" id="pop_desc" name="desc" style="width:480px"><br><br>-->

                        </div>
                    </form>
                </div>
                <div class="popup-bottom">
                    <div class="popup-ok" id="btnAddSubmit">추가</div>
                    <div class="popup-ok" id="btnEditSubmit">수정</div>
                    <div class="popup-cancel" data-dismiss="modal">취소</div>
				</div>
            </div>
    </div>
     <div id="modal-popup-file" class="popup-wrap">
			<div class="popup-detail">
				<div class="popup-top">
					<div class="left">
						<span style="font-size:22px; margin-left:10px">등록</span>
					</div>
					<div class="right popup-exit">
						<img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-WhiteList').hide()" alt="popup-exit" />
					</div>
				</div> <!-- popup-top -->
                <div class="popup-cont ">
                <form id="formUpload" data-parsley-validate="" action="/white-ip/uploadlist" method="post" enctype="multipart/form-data">
                    <input id="pop_seq_file" type="hidden">
                    <div class="popup-input-wrap pop-area filebox">
                        <!--<span class="day-txt" style="width:101px;display:inline-block">표준 데이터 명: </span>-->
                        <!--<input id="pop_name" data-parsley-required="true" data-parsley-length="[3, 15]"><br/><br/>-->
                        <!--<span class="day-txt" style="width:101px;display:inline-block" >대상 링크: </span>-->
                        <!--<select id="pop_link" onchange="pop_link_changed();" data-parsley-required="true" data-parsley-length="[2, 15]">-->
                        <!--</select>-->
                        <!--&nbsp;&nbsp;-->
                        <!--<div id="pop_div_desc" style="display:contents">-->
                            <!--<img src="/static/img/smtp-impor-icon.png">-->
                            <!--<span id="pop_span_desc" class="smtp-impor-txt">시계열 데이터 :  7 or 24 or 144</span>-->
                        <!--</div>-->
                        <!--<br/><br/>-->
                        <span class="day-txt" style="width:120px;display:inline-block">WhiteList 파일: </span>
                        <input id="pop_file_name" class="upload-name"  value="선택된 파일 없음" disabled="disabled">
                        <label for="pop_file" style="width:100px;text-align:center;padding-right:0px">파일선택</label>
                        <input id="pop_file" type="file" class="upload-hidden"><br>
                    </div>
                </form>
            </div>
                <div class="popup-bottom">
                    <div class="popup-ok" id="btnFileSubmit">추가</div>
                    <div class="popup-ok" id="btnEditFileSubmit">수정</div>
                    <div class="popup-cancel" data-dismiss="modal">취소</div>
				</div>
            </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="search-bg bg-wrap-wh">
        <div class="search-wrap">
            <div class="sear-wrap ">
                <div class="sear-wrap ">
                    <span>검색타입 : </span>
                    <select id="search_keyword_type" style="width:7%;">
                        <option value="Type" selected>타입</option>
                        <option value="IPS_Policy" selected>IPS 정책명</option>
                        <option value="IPS_Policy_No" selected>IPS 정책번호</option>
                        <option value="SRC_IP_Type" selected>SRC_IP 유형</option>
                        <option value="DST_IP_Type" selected>DST_IP 유형</option>
                        <!--<option value="IP_Address">IP 주소</option>-->

                        <option value="Regular_Exp_Name">정규표현식</option>
                        <!--<option value="type">유형</option>-->
                    </select>
                    <span>키워드 : </span>
                    <input type="text" id="search_keyword" name="analy-sear-box" placeholder="">
                    <div hidden>
                    <span >페이지당 </span>
                    <select id="perpage" name="analy-pagelist" form="analy-pageform">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100" selected="selected">100</option>
                    </select>

                    <span class="day-txt">건</span>
                    </div>
                    <input type="submit" onclick="DatatableReload();" value="검색">
                    <input type="submit" onclick="downloadExcel();" value="파일저장" hidden>
                </div>
            </div><!-- sear-day-wr -->
        </div>

    </div><!-- search-bg -->

    <div class="bg-wrap-wh system-bg">
        <div class="secur-wrap">
            <div class="moni-txt">연동정책관리</div> -
            <div id="divTotal" class="sear-txt cnc-down" data-value = 0>총 0건</div>
            <div style="float:right;">

                    <div id="btnDeleteItem" class="syst-bg" onclick="deleteItem()">삭제</div>
                    <div id="btnEditItem" class="syst-bg" onclick="showEditDialog()">수정</div>
                    <div id="btnNewItem" class="syst-bg" >추가</div>
                    <div id="btnItemBatchUpload" class="syst-bg" style="width:120px;" hidden>파일업로드</div>
                    <div id="btnItemBatchUploadSample" class="syst-bg" style="width:120px;" hidden>업로드샘플</div>
            </div>
        </div><!-- search-wrap -->

        <div class="row row-table-top">
            <div class="col-12 patt-tb-wr">
                <div class="table-sc01">

                    <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="7" style="width:100%">
                        <colgroup>
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <!--<col style="width:30%">-->
                            <!--<col style="width:15%">-->
                            <!--<col style="width:15%">-->
                            <!--<col style="width:10%">-->

                            

                        </colgroup>

                        <thead class="pattern-table">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>타입</th>
                            <th>IPS 정책명</th>
                            <th>IPS 정책번호</th>
                            <th>SRC_IP 유형</th>

                            <th>DST_IP 유형</th>
                            <th>정규표현식</th>
                            <!--<th>유형</th>-->
                            <!--<th>세부유형</th>-->
                            <!--<th>등록일</th>-->
                            <!--<th>수정일</th>-->

                            
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>

                    </table>
                    <div class="active table-bottom">
                        <div>
                            <div class="text-center">
                                <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- col-12 -->
        </div>
        <div class="file-box-wrap" style="display:none">

            <div class="filebox">
                <span class="day-txt pad-right">파일 업로드: </span>
                <input class="upload-name" value="선택된 파일 없음" disabled="disabled">
                <label for="fileupload">파일선택</label>
                <input type="file" id="fileupload" class="upload-hidden">
                <p class="back-bar"></p>
                <input class="wid-box130 box-col" type="submit" value="CSV 업로드">
                <input class="wid-box130" type="submit" value="CSV 다운로드">
            </div>

        </div>
        <div class="file-box-wrap" style="">


            <div class="filebox" hidden>
                <table style="display:inline-block; table-align:center;">
                    <tr>
                        <td>
                            <span class="day-txt pad-right">화이트리스트 유지기간: </span>
                            <input type="text" id="whiteList_maintain_period" name="analy-sear-box" style="margin-right:10px; height:39px; width:350px; text-align:right; padding-right:10px;" placeholder="" value = {{ whiteListPeriod }} >
                            <span style="margin-left:5px;"> 일</span>
                        </td>
                        <td>
                            <input type="submit" onclick="handleWhiteListDays();" value="값 변경" style="margin-left:20px;">
                        </td>
                    </tr>
                </table>

                <!--<label for="fileupload">파일선택</label>-->
                <!--<input type="file" id="fileupload" class="upload-hidden">-->
                <!--<p class="back-bar"></p>-->
                <!--<input class="wid-box130 box-col" type="submit" value="CSV 업로드">-->
                <!--<input class="wid-box130" type="submit" value="CSV 다운로드">-->
            </div>

        </div>

    </div> <!-- bg-wrap-wh -->
    <div class="myModal"><!-- Place at bottom of page --></div>
{% endblock %}
{% block endOfBody %}
    <script src="/static/js/page/integratedELK/Inter_Operation_Policy.js"></script>
    <script src="/static/plugins/parsleyjs/dist/parsley.js"></script>

    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        $body = $("body");

        function makeEmptyRegisterEditDialogBox(){
                $("#pop_Type").val("");
                $("#pop_IPS_Policy").val("");
                $("#pop_IPS_Policy_No").val("");
                $("#pop_SRC_IP_Type").val("");
                $("#pop_DST_IP_Type").val("");
                $("#pop_Regular_Exp_Name").val("");
                $("#pop_seq").val("");
        }


        $(document).ready(function() {

            var fileTarget = $('.filebox .upload-hidden');

            fileTarget.on('change', function(){ // 값이 변경되면
                if(window.FileReader){ // modern browser
                    var filename = $(this)[0].files[0].name;
                } else { // old IE
                    var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
                } // 추출한 파일명 삽입

                $(this).siblings('.upload-name').val(filename);

            });


            TableManageDefault.init();
            //Paginate 디자인 적용
            $('#demo-foo-filtering_paginate').attr('class', 'pagination pagination-split footable-pagination m-t-10 m-b-0');
            $('#demo-foo-filtering_paginate').css('margin', '0 auto');

            //Button Event
            $("#btnNewItem").click(function(){
                makeEmptyRegisterEditDialogBox();
                $('#modal-popup').modal();
                $('#pop_IPS').val('');
                $('#pop_pattern').val('');
                $('#pop_IPS_password').val('');
                $('#pop_etc').val('');
                //$('#pop_source option:eq(0)').prop('selected', true);
                $('#btnAddSubmit').show();
                $('#btnEditSubmit').hide();
                $('#popup-form').parsley().reset();
            });

            $("#btnItemBatchUpload").click(function(){
                $('#modal-popup-file').modal();


                $('#btnFileSubmit').show();
                $('#btnEditFileSubmit').hide();
                $('#formUpload').parsley().reset();
            });

            $("#btnItemBatchUploadSample").click(downloadExcelSample);
            
            
            $("#btnAddSubmit").click(handleAddSubmit);
            $("#btnEditSubmit").click(handleEditSubmit);
            $("#btnFileSubmit").click(fileSubmit);
            //$('#formAddAccount').parsley();

            //Select Event change
            $(".pop_type_selector").hide();
            $("#pop_desc_drop").on('change',function(e) {
                var optionSelected = $("option:selected", this);
                var valueSelected = this.value;
                console.log(optionSelected);
                console.log(valueSelected);
                if(valueSelected === "자동 등록")
                {
                    $(".pop_type_selector").hide();
                    $("#pop_type").val("Etc");
                }
                else
                {
                    $(".pop_type_selector").show();
                }
            });
        } );

        $(".popup-wrap").css("display","none");

        //$.fn.dataTable.ext.classes.sPageButton = 'button primary_button';

    </script>
{% endblock %}