{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/jquery-datetimepicker/jquery.datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-formhelpers/css/bootstrap-formhelpers.css"/>
    <style>
        .link {
            stroke: #ccc;
            stroke-width : 2.5
        }

        .node text {
            pointer-events: none;
            font: 10px sans-serif;
        }

        div.tooltip {
            position: absolute;
            background-color: white;
            max-width: 600px;
            height: auto;
            padding: 1px;
            border-style: solid;
            border-radius: 4px;
            border-width: 1px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
            pointer-events: none;
        }

        div.tooltip > p {
            margin:2px 0px 2px 0px
        }
    </style>
    <style>
    .detail-input > div {
        float:left;width:100%; margin-bottom:3px;
    }

    .detail-wid > input[type="text"] {
        width:130px !important;
    }

    </style>
{% endblock %}
{% block topOfBody %}
    <div id="modal-AddProfile" class="popup-wrap">
        <div class="popup-detail">
            <div class="popup-top">
                <div class="left">
                    <span style="font-size:22px; margin-left:10px">Profile 저장</span>
                </div>
                <div class="right popup-exit">
                    <img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-AddPrfile').hide()" alt="popup-exit" />
                </div>
            </div> <!-- popup-top -->

            <div class="popup-cont">
                <form id="formAddProfile" data-parsley-validate="">
                    <div class="popup-input-wrap">
                        <label for="pop-white-ip">이름</label><input type="text" id="search_profile_name" name="ip" data-parsley-required="true" /><br><br>
                        <label for="pop-white-desc">설명</label><input type="text" id="search_profile_description" name="desc"><br><br>
                    </div>
                </form>
            </div>
            <div class="popup-bottom">
                <div class="popup-ok" id="btnAddProfileSubmit" onclick="return saveProfile();">등록</div>
                <div class="popup-cancel" data-dismiss="modal">취소</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="content-title">
        <div class="moni-txt">링크 DNA 분석</div>
        <div class="moni-right">링크 DNA 분석</div>
        <div class="inner-hr"></div>
    </div>
    <div id="search-div1" class="search-bg bg-wrap-wh" style="float:left;width:1377px; height:800px;margin:5px;margin-bottom:10px;padding:0px">
        <div id="divChart">
            <div>
                <span>최대 링크 수 </span><input id="max_nods" type="text" value="1000">
                &nbsp;&nbsp;<span>선 굵기 기준값 </span>
                <select id="lineOpt" onchange="onLineOptChanged()">
                    <option value="sendBytes">송신량</option>
                    <option value="rcvBytes">수신량</option>
                    <option value="sendPkts">송신 패킷수</option>
                    <option value="rcvPkts">수신 패킷수</option>
                    <option value="sessionCnt">세션수</option>
                    <option value="tcp_urg">TCP Flag 개수(URG)</option>
                    <option value="tcp_ack">TCP Flag 개수(ACK)</option>
                    <option value="tcp_psh">TCP Flag 개수(PSH)</option>
                    <option value="tcp_rst">TCP Flag 개수(RST)</option>
                    <option value="tcp_syn">TCP Flag 개수(SYN)</option>
                    <option value="tcp_fin">TCP Flag 개수(FIN)</option>
                </select>
            </div>
        </div>
    </div>
    <div id="search-div2" class="search-bg bg-wrap-wh" style="overflow-y:hidden;display:table !important;float:left;width:570px;height:1305px;margin:5px;padding:10px;10px;position: absolute;left: 1400px;">
        <div class="day-wrap" style="margin-right:0px;">

            <span style="display:none">Data Source: </span>
            <select style="display:none" id="datasource" onchange="reloadData1();">
                <option value="netflows">Net Flow</option>
                <option value="syslogs">SysLog</option>
            </select>

            <div style="width:100%; margin-bottom:10px;margin-top:10px;">
                <div class="left-wid-tit">시작 시간</div>
                <input type="text" id="dateFrom" value="{{ timefrom }}">
                <span>끝 시간 </span><input type="text" id="dateTo" value="{{ timeto }}">
            </div>

        </div>

        <div id="detailSearch1" class="sear-wrap normal-sear-wrap detail-input collapse show">
        <form id="formSearch" data-parsley-validate="">
            <div class="detail-wid" style="float:left;width:100%; margin-bottom:10px;">
                <div class="left-wid-tit">프로파일 선택</div>
                <select name="search_profile" id="search_profile" style="width:150px" onchange="getProfile()">
                    <option value="">선택하지 않음</option>
                    {% for _item in profileList %}
                        <option value="{{ _item.seq  }}">{{ _item.name }}</option>
                    {% endfor %}
                </select>
                <input id="btnShowAddPrfileDlg1" class="btn btn-info" type="submit" value="저장" onclick="return showAddDialog();" style="width:69px;font-size:15px;">
                <input type="submit" value="검색" onclick="DatatableReload(); return false;">
            </div>
            <div class="detail-wid" style="float:left;width:100%; margin-bottom:3px;">
                <div class="left-wid-tit">Server IP </div>
                <select name="search_svr_ip_opt" id="search_svr_ip_opt" style="width:50px;">
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                </select>
                <input id="search_svr_ip" type="text" value="" data-parsley-pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$">
            </div>
            <div class="detail-wid" style="float:left;width:100%; margin-bottom:3px;">
                <div class="left-wid-tit">Client IP </div>
                <select name="search_cl_ip_opt" id="search_cl_ip_opt" style="width:50px;">
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                </select>
                <input id="search_cl_ip" type="text" value="" data-parsley-pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$">
            </div>
            <div class="detail-wid" style="float:left;width:100%; margin-bottom:3px;">
                <div class="left-wid-tit">Server 포트</div>
                <select name="search_svr_port_opt" id="search_svr_port_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_svr_port_value" type="text" value="" data-parsley-type="number" ></label>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">송신량</div>
                <select name="search_sendbyte_opt" id="search_sendbyte_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_sendbyte_value" placeholder="bytes" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">수신량</div>
                <select id="search_receivebyte_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_receivebyte_value" placeholder="bytes" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">송신 패킷수</div>
                <select id="search_sendpacket_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_sendpacket_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">수신 패킷수</div>
                <select id="search_receive_packet_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_receive_packet_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">송신량 백분율</div>
                <select id="search_send_bytes_per_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_send_bytes_per_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">수신량 백분율</div>
                <select id="search_receive_bytes_per_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_receive_bytes_per_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">송신 패킷수 백분율</div>
                <select id="search_send_pkts_per_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_send_pkts_per_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">수신 패킷수 백분율</div>
                <select id="search_receive_pkts_per_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_receive_pkts_per_value" placeholder="%" type="text" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">세션 유지시간</div>
                <select id="search_session_time_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_session_time_value" type="text" placeholder="초" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">세션수</div>
                <select id="search_session_count_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_session_count_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(URG) 수</div>
                <select id="search_flag_urg_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_urg_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(ACK) 수</div>
                <select id="search_flag_ack_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_ack_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(PSH) 수</div>
                <select id="search_flag_psh_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_psh_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(RST) 수</div>
                <select id="search_flag_rst_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_rst_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(SYN) 수</div>
                <select id="search_flag_syn_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_syn_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(FIN) 수</div>
                <select id="search_flag_fin_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_fin_value" type="text" data-parsley-type="number"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(URG) 백분율</div>
                <select id="search_flag_per_urg_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_per_urg_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$" >
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(ACK) 백분율</div>
                <select id="search_flag_per_ack_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_per_ack_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(PSH) 백분율</div>
                <select id="search_flag_per_psh_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_per_psh_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(RST) 백분율</div>
                <select id="search_flag_per_rst_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_per_rst_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(SYN) 백분율</div>
                <select id="search_flag_per_syn_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_per_syn_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">TCP Flag(FIN) 백분율</div>
                <select id="search_flag_per_fin_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_flag_per_fin_value" type="text" placeholder="%" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$"	>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">Server 국가</div>
                <select id="search_svr_country" class="form-control bfh-countries" data-country="" data-flags="true" style="display:inline-flex;width:200px"></select>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">Client 국가</div>
                <select id="search_cli_country" class="form-control bfh-countries" data-country="" data-flags="true" style="display:inline-flex;width:200px"></select>
            </div>
            <div class="detail-wid">
                <div class="left-wid-tit">지리적 거리</div>
                <select id="search_geo_distance_opt" style="width:50px;">
                    <option value=">">&gt;</option>
                    <option value=">=">&gt;=</option>
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value="<=">&lt;=</option>
                    <option value="<">&lt;</option>
                </select>
                <input id="search_geo_distance_value" type="text" placeholder="km" data-parsley-type="number"	>
            </div>
            <div class="sear-inner-hr" style="margin:20px 0px 20px 0px"></div>
            <div class="detail-cont-wrap" >
                <div class="detail-wid subsearch" style="width:100%">
                    <div class="left-wid-tit" style="width:130px;">Server 기준 접속수</div>
                    <select id="search_svr_con_count_opt" style="display:none">
                        <option value="<">&gt;</option>
                    </select>
                    <input id="search_svr_con_count_value" type="text" style="width:80px" data-parsley-type="number"	>
                    ~
                    <input id="search_svr_con_count_value2" type="text" style="width:80px" data-parsley-type="number"	>
                    <input type="submit" value="검색" onclick="SearchServerCon();return false;">
                </div>
            </div>
            <div class="sear-inner-hr" style="margin:20px 0px 20px 0px"></div>
            <div class="detail-cont-wrap" >
                <div class="detail-wid" style="width:100%">
                    <div class="left-wid-tit" style="width:130px;">Client 기준 접속수</div>
                    <select id="search_cli_con_count_opt" style="width:50px;display:none">
                        <option value=">">&gt;</option>
                        <option value=">=">&gt;=</option>
                        <option value="=">=</option>
                        <option value="!=">!=</option>
                        <option value="<=">&lt;=</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input id="search_cli_con_count_value" type="text" data-parsley-type="number"	>
                    ~
                    <input id="search_cli_con_count_value2" type="text" data-parsley-type="number"	>
                    <input type="submit" value="검색" onclick="SearchClientCon();return false;">
                </div>
            </div>
        </form>
        </div>
    </div>
    <div id="search-div3" class="secur-bg bg-wrap-wh" style="display:table !important;width:1377px;height:1080px;margin:5px;">
        <div class="day-wrap02 flo-le" style="float:right;margin-bottom:10px">
            <span class="day-txt">페이지당 </span>
            <select id="perpage" name="normal-pagelist" form="normal-pageform">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span class="day-txt">건</span>
        </div>
        <!--<div style="float:left; width:100%;">-->
            <div class="secur-bg" style="display:table !important;width:100%;padding:0px;0px;margin-top:0px;">
                <div class="secur-wrap-table secur-table-hover" style="overflow-x:hidden !important;margin-top:0px;">
                    <div class="table-sc01" style="width:100%;min-width:944px;">
                        <table id="dtTable2" class="table-top " style="width:100%;min-width:944px;">
                            <colgroup>
                                <col style="width:5%;">
                                <col style="width:15%;">
                                <col style="width:10%;">
                                <col style="width:15%;">
                                <col style="width:10%;">
                                <col style="width:15%;">
                                <col style="width:20%;">
                            </colgroup>

                            <thead>
                            <tr>
                                <th></th>
                                <th>타임스탬프</th>
                                <th>프로토콜</th>
                                <th>서버 IP</th>
                                <th>서버 포트</th>
                                <th>클라이언트 IP</th>
                                <th>프로파일</th>
                            </tr>
                            </thead>

                        </table>

                        <div class="over-sc">
                            <table id="dtTable" style="width:100%;min-width:943px;">
                                <colgroup>
                                    <col style="width:5%;">
                                    <col style="width:15%;">
                                    <col style="width:10%;">
                                    <col style="width:15%;">
                                    <col style="width:10%;">
                                    <col style="width:15%;">
                                    <col style="width:20%;">
                                </colgroup>

                                <tbody id="tdTbody">
                                </tbody>
                            </table>
                        </div><!-- over-sc -->
                        <div class="active table-bottom">
                            <div>
                                <div class="text-center">
                                    <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- secur-wrap-table -->
            </div><!-- secur-bg -->
        <!--</div>-->

    </div>
{% endblock %}
{% block endOfBody %}
    <script src="/static/plugins/jquery-datetimepicker/jquery.datetimepicker.js"></script>
    <script src="/static/plugins/jquery-datetimepicker/build/jquery.datetimepicker.full.js"></script>
    <script src="/static/plugins/parsleyjs/dist/parsley.js"></script>
    <script src="/static/js/page/link_dna/list.js"></script>
    <script src="/static/plugins/bootstrap-countrypicker/js/countrypicker.js"></script>
    <script src="/static/plugins/bootstrap-formhelpers/js/bootstrap-formhelpers.js"></script>
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/page/link_dna/list_chart_analysis.js"></script>
    <script>
		$(function() {
			$(window).ready(function(){
			    //$("#search-div2").height(($("#search-div1").outerHeight() + $("#search-div3").outerHeight())-9.41);
			    $("#search-div2").height(1900);
			    TableManageDefault.init();
			    //Paginate 디자인 적용
			    $('#dtTable_paginate').attr('class', 'pagination pagination-split footable-pagination m-t-10 m-b-0');
                $('#dtTable_paginate').css('margin', '0 auto');

			    jQuery('#dateFrom').datetimepicker({
                    format:'Y-m-d H:i'
                });
			    jQuery('#dateTo').datetimepicker({
                    format:'Y-m-d H:i'
			    });
			    getProfileList();
			 });

			$(".countrypicker").css("width","70%");
		});

	</script>
{% endblock %}
