{% extends "layout.html" %}

{% block head %}
<style>

#worldchartDiv{
    zoom:118%;
}
#chartLineChart, #chartBarChart  {
    width : 100%;
    height : 400px;
    font-size: 12px;
    zoom:118%;
}

</style>
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="content-title">
        <div class="moni-txt" hidden>TI 통계</div>
        <div class="moni-right" hidden>메인 <img src="/static/img/title-bar.png" alt="arrow" /> 위협정보 현황
        </div>
        <div class="inner-hr">
        </div>
    </div>
    <div class="row-ha d-flex justify-content-around">

        <div class="col-md-2" style="width:5% ">
            <div class="well wellcenter">
                    <!--<h4> </h4>-->
            </div>
        </div>
        <div class="col-md-2" style="width:10%">
            <div class="app-widget-title-tile">
                <div class="line">
                    <div class=".wide-title"><strong>수집</strong></div>
                </div>





            </div>
        </div>
        <div class="col-md-2" style="width:10%">
            <div class="app-widget-title-tile">
                <div class="line">
                    <div class=".wide-title"><strong>분석</strong></div>
                </div>

            </div>
        </div>
        <div class="col-md-2" style="width:10%">
            <div class="app-widget-title-tile">
                <div class="line">
                    <div  class=".wide-title"><strong>결과</strong></div>
                </div>


            </div>
        </div>
        <div class="col-md-2" style="width:10%; padding-right:0px;">
            <div class="app-widget-title-tile-thick-border" style="">
                <div class="line">
                    <div  class=".wide-title"><strong>TI</strong></div>
                </div>



            </div>
        </div>

    </div>

    <div class="row-ha row-ha d-flex justify-content-around">
        <div class="col-md-2" >
            <!--<div class="well wellcenter">-->
                    <!--<h4>Link DNA</h4>-->
            <!--</div>-->
            <div class="app-widget-tile" >
                <div class="line" >
                    <div class="wide-title-smaller-font" ><strong style="color:white;">" </strong></div>
                </div>

                <div class="line">
                    <div id="TI_Dashbaord_row_1st" class="twostring intval" style="white-space:pre;">Link <font color="#8FBC8F">누적</font></div>
                </div>
                 <div class="line">
                     <div id="TI_Dashbaord_row_2nd" class="twostring intval" style="margin-top:1px; white-space:pre;">       <font color="#8FBC8F">금일</font></div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="width:10%">
            <div class="app-widget-tile" >
                <div class="line">
                    <div class="wide-title-smaller-font">Link</div>
                </div>

                <div class="line">
                    <a href="/links/analysis_result"><div id="total_collected_link" class="twostring intval totalValue">0</div></a>
                </div>
                 <div class="line">
                    <a href="/links/analysis_result"><div id="today_collected_link" class="twostring intval" style="margin-top:1px;">0</div></a>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="width:10%" >
            <div class="app-widget-tile">
                <div class="line">
                    <div class="wide-title-smaller-font">Scheduling</div>
                </div>

                <div class="line">
                    <div id="total_link_analysis_count" class="twostring intval totalValue">0</div>
                </div>
                <div class="line">
                    <div id="today_link_analysis_count" class="twostring intval" style="margin-top:1px;">0</div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="width:10%" >
            <div class="app-widget-tile">
                <div class="line">
                    <div class="wide-title-smaller-font">Link DNA</div>
                </div>
                <div class="line">
                    <div id="total_link_result_count" class="twostring intval totalValue">0</div>
                </div>
                <div class="line">
                    <div id="today_link_result_count" class="twostring intval" style="margin-top:1px;">0</div>
                </div>
            </div>
        </div>

        <div class="col-md-2" style="width:10%; padding-right:0px;">
            <div class="app-widget-tile-thick-border" style="">
                <div class="line">
                    <div  class="wide-title-smaller-font">중요</div>
                </div>
                <!--<div id="counter_cnc" class="intval intval-lg">0</div>-->
                <!--<div class="line" >-->
                    <!--<div id="counter_sub_cnc" class="sub-title" style="color:white">" "</div>-->
                <!--</div>-->
                <div class="line ">
                    <a href="/dna/statistics"><div id="total_important_DNA_count" class="twostring intval totalValue" style="margin-top:0px;"><span id="today_important_DNA_value" data-toggle='tooltip' data-placement='left' title=''>0</span></div></a>
                </div>
                <div class="line " >
                    <a href="/dna/statistics"><div id="whitelisted_important_DNA_count" class="twostring intval" ><span id="whitelisted_important_DNA_value" data-toggle='tooltip' data-placement='left' title='' style="color:white;">0</span></div></a>
                </div>

            </div>
        </div>

    </div>

    <div class="row-ha d-flex justify-content-around">
        <div class="col-md-2" >
            <div class="app-widget-tile" >
                <div class="line" >
                    <div class="wide-title-smaller-font" ><strong style="color:white;">" </strong></div>
                </div>

                <div class="line">
                    <a href="/links/analysis_result"><div id="TI_Dashbaord_2ndRow_1st" class="twostring intval" style="white-space:pre;">악성 <font color="#8FBC8F">누적</font></div></a>
                </div>
                 <div class="line">
                     <a href="/links/analysis_result"><div id="TI_Dashbaord_2ndRow_2nd" class="twostring intval" style="margin-top:1px; white-space:pre;">코드 <font color="#8FBC8F">금일</font></div></a>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="width:10%">
            <div class="app-widget-tile">
                <div class="line">
                    <div class="wide-title-smaller-font">URL</div>
                </div>


                <div class="line">
                    <a href="/secure-log/maliciousCodeAnalysis"><div id="collected_url_total" class="twostring intval totalValue">0</div></a>
                </div>
                <div class="line">
                    <a href="/secure-log/maliciousCodeAnalysis"><div id="collected_url_today" class="twostring intval" style="margin-top:1px;">0</div></a>
                </div>

                <!--<div hidden>-->
                <!--<div class="line">-->
                    <!--<div id="imas_url_analysis_today" class="twostring intval" style="margin-top:1px;">IMAS:0</div>-->
                <!--</div>-->
                <!--<div class="line">-->
                    <!--<div id="npc_url_analysis_today" class="twostring intval">NPC:0</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div hidden>-->
                <!--<div id="today_url_analysis_counter" class="intval intval-lg">0</div>-->
                <!--<div class="line">-->
                    <!--<div id="counter_sub_today_url_analysis" class="sub-title">어제:0</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-2" style="width:10%">
            <div class="app-widget-tile">
                <div class="line">
                    <div class="wide-title-smaller-font">Crawling</div>
                </div>
                <!--<div hidden>-->
                <!--<div class="line">-->
                    <!--<div id="imas_file_analysis_today" class="threestring intval" style="">IMAS:0</div>-->
                <!--</div>-->
                <!--<div class="line">-->
                    <!--<div id="npc_file_analysis_today" class="threestring intval">NPC:0</div>-->
                <!--</div>-->
                <!--<div class="line">-->
                    <!--<div id="zombie_file_analysis_today" class="threestring intval">ZombieZero:0</div>-->
                <!--</div>-->
                <!--</div>-->


                <div class="line">
                    <a href="/secure-log/maliciousCodeAnalysis"><div id="total_crawled_elements" class="twostring intval totalValue">0</div></a>
                </div>
                <div class="line">
                    <a href="/secure-log/maliciousCodeAnalysis"><div id="today_crawled_elements" class="twostring intval" style="margin-top:1px;">0</div></a>
                </div>
                <!--<div>-->
                <!--<div id="today_crawled_elements" class="intval intval-lg">0</div>-->
                <!--<div class="line">-->
                    <!--<div id="counter_sub_today_crawled_elements" class="sub-title" style="color:white;">""</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-2" style="width:10%">
            <div class="app-widget-tile">
                <div class="line">
                    <div  class="wide-title-smaller-font">3rd Party</div>
                </div>
                <!--<a href = "/secure-log/cnc-manage" style="color:black;"><div id="counter_total_malicious_url" class="intval intval-lg">0</div></a>-->
                <!--<div class="line">-->
                    <!--<div id="counter_sub_total_malicious_url" class="sub-title" style="color:white;">어제:0</div>-->
                <!--</div>-->

                <div class="line">
                    <a href="/secure-log/maliciousCodeAnalysis"><div id="3rd_party_analysis_result_total" class="twostring intval totalValue">0</div></a>
                </div>
                <div class="line">
                    <a href="/secure-log/maliciousCodeAnalysis"><div id="3rd_party_analysis_result_today" class="twostring intval" style="margin-top:1px;">0</div></a>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="width:10%; padding-right:0px;">
            <div class="app-widget-tile-thick-border" style="">
                <div class="line">
                    <div  class="wide-title-smaller-font">악성</div>
                </div>
                <!--<div id="counter_cnc" class="intval intval-lg">0</div>-->
                <!--<div class="line" >-->
                    <!--<div id="counter_sub_cnc" class="sub-title" style="color:white">" "</div>-->
                <!--</div>-->

                <div class="line">
                    <a href="/secure-log/maliciousCodeAnalysis"><div id="mal_code_count_total" class="twostring intval totalValue">0</div></a>
                </div>
                <div class="line">
                    <a href="/secure-log/malCodeCollectionNew"><div id="mal_code_count_today" class="twostring intval" style="margin-top:1px;">0</div></a>
                </div>
            </div>
        </div>
        <!--<div class="col-md-3" style="width:14%;padding-right:0px" hidden>-->
            <!--<div class="app-widget-tile">-->
                <!--<div class="line">-->
                    <!--<div  class=".wide-title">오늘 악성코드</div>-->
                <!--</div>-->
                <!--<div id="counter_bcode" class="intval intval-lg">0</div>-->
                <!--<div class="line">-->
                    <!--<div id="counter_sub_bcode" class="sub-title">어제:0</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>



    <!-- New Row -->
    <div class="row">
        <div class="col-lg-6">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseLineChart" aria-expanded="true" aria-controls="collapseLineChart">
                                <h4 class="mt-0 header-title ani-le">Link DNA 수집</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseLineChart" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">
                            <div class="color-cont-wr mo-color-con">
                            </div>
                            <div id="chartLineChart" class="ct-chart act" style="height:350px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseBarChart" aria-expanded="true" aria-controls="collapseBarChart">
                                <h4 class="mt-0 header-title ani-le">Link DNA TI</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseBarChart" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">
                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartBarChart" class="bar_chart act" style="height:350px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row row-wid">
        <div id="container-tab" class="col-lg-7" hidden>
            <div class="cnc-tabwr" >
                <div class="tab-content">
                    <div class="card-box">
                        <div class="card-header card-bg" role="tab" id="headingOne" hidden>
                            <h5 class="mb-0 mt-0 ani-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#worldchartDiv" aria-expanded="true" aria-controls="worldchartDiv">
                                    <h4 class="mt-0 header-title ani-le">C&C 및 악성코드 유포지</h4>
                                    <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                                </a>
                            </h5>
                        </div>
                        <div id="worldchartDiv" class="card-box map-box" style="height:300px" >
                            <!-- <div id="world-map-markers" style="height: 500px"></div> -->
                            <div class="tab-pane" id="cnc1">
                                <div id="worldchart" class="map-ifr ani-le" style="width:65%;height:250px;max-width:557px; ">
                                </div>
                                <div class="map-table ani-rig" style="width:30%;float:right;padding:0px 5px 0;zoom:80%">
                                    <div class="table-country" >
                                        <label style="float:right">
                                            <input type="text" style="height:40px;margin:0 5px; border:1px solid #e0e0e0; padding:10px;width:120px"
                                                   id="worldchartDate" value="{{ timenow }}">
                                            <input type="submit" value="검색" style="heigt:45px; background:#1dbed3; font-size:14px; color:#fff; width:100px"
                                            onclick="getWorldChart(); return false;">
                                        </label>
                                        <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="5">
                                            <thead>
                                            <tr>
                                                <th>국가</th>
                                                <th>건수</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tblCountry-tbody">
                                            </tbody>
                                        </table>

                                    </div><!-- end table-country -->
                                    <div class="active table-bottom">
                                        <div>
                                            <div class="text-center">
                                                <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end tab-pane -->
                        </div><!-- end map-box -->
                    </div><!--end map-->
                </div> <!-- end tab-content -->
            </div><!-- end cnc-tabwr -->
        </div><!-- end container -->
        <div class="col-lg-12">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMonthChart" aria-expanded="true" aria-controls="collapseMonthChart">
                                <h4 class="mt-0 header-title ani-le">최근 3개월 추이</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseMonthChart" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">
                            <div class="color-cont-wr mo-color-con">
                            </div>
                            <table id="demo-foo-filtering1" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="5">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:21.25%;">
                                    <col style="width:21.25%;">
                                    <col style="width:21.25%;">
                                    <col style="width:21.25%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>월</th>
                                    <th>Netflow</th>
                                    <th>Syslog</th>
                                    <th>Trafiic</th>
                                    <th>총합</th>
                                </tr>
                                </thead>
                                <tbody id="tblCountry-tbody1">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <hr style="height:1px;border:none;color:#333;background-color:#333;">
    <!-- Another data collection of a row-->
    <div class="row">
        <div class="col-lg-6">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseLineChart" aria-expanded="true" aria-controls="collapseLineChart">
                                <h4 class="mt-0 header-title ani-le">악성코드 수집</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseLineChart2" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">
                            <div class="color-cont-wr mo-color-con">
                            </div>
                            <div id="chartLineChart2" class="ct-chart act" style="height:350px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseBarChart" aria-expanded="true" aria-controls="collapseBarChart">
                                <h4 class="mt-0 header-title ani-le">악성코드 TI수</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseBarChart2" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">
                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartBarChart2" class="bar_chart act" style="height:350px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row row-wid">
        <div id="container-tab2" class="col-lg-7" hidden>
            <div class="cnc-tabwr" >
                <div class="tab-content">
                    <div class="card-box">
                        <div class="card-header card-bg" role="tab" id="headingOne2-1" hidden>
                            <h5 class="mb-0 mt-0 ani-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#worldchartDiv" aria-expanded="true" aria-controls="worldchartDiv">
                                    <h4 class="mt-0 header-title ani-le">C&C 및 악성코드 유포지</h4>
                                    <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                                </a>
                            </h5>
                        </div>
                        <div id="worldchartDiv2" class="card-box map-box" style="height:300px" >
                            <!-- <div id="world-map-markers" style="height: 500px"></div> -->
                            <div class="tab-pane" id="cnc2">
                                <div id="worldchart2" class="map-ifr ani-le" style="width:65%;height:250px;max-width:557px; ">
                                </div>
                                <div class="map-table ani-rig" style="width:30%;float:right;padding:0px 5px 0;zoom:80%">
                                    <div class="table-country" >
                                        <label style="float:right">
                                            <input type="text" style="height:40px;margin:0 5px; border:1px solid #e0e0e0; padding:10px;width:120px"
                                                   id="worldchartDate2" value="{{ timenow }}">
                                            <input type="submit" value="검색" style="heigt:45px; background:#1dbed3; font-size:14px; color:#fff; width:100px"
                                            onclick="getWorldChart(); return false;">
                                        </label>
                                        <table id="demo-foo-filtering2-1" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="5">
                                            <thead>
                                            <tr>
                                                <th>국가</th>
                                                <th>건수</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tblCountry-tbody2-1">
                                            </tbody>
                                        </table>

                                    </div><!-- end table-country -->
                                    <div class="active table-bottom">
                                        <div>
                                            <div class="text-center">
                                                <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end tab-pane -->
                        </div><!-- end map-box -->
                    </div><!--end map-->
                </div> <!-- end tab-content -->
            </div><!-- end cnc-tabwr -->
        </div><!-- end container -->
        <div class="col-lg-12">
            <div id="accordion2" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne2">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMonthChart" aria-expanded="true" aria-controls="collapseMonthChart">
                                <h4 class="mt-0 header-title ani-le">최근 3개월 추이</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseMonthChart2" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">
                            <div class="color-cont-wr mo-color-con">
                            </div>
                            <table id="demo-foo-filtering2" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="5">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:21.25%;">
                                    <col style="width:21.25%;">
                                    <col style="width:21.25%;">
                                    <col style="width:21.25%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>월</th>
                                    <th>수집</th>
                                    <th>분석</th>
                                    <!--<th>Trafiic</th>-->
                                    <th>총합</th>
                                </tr>
                                </thead>
                                <tbody id="tblCountry-tbody2">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Another row-->


{% endblock body %}

{% block endOfBody %}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/static/plugins/chartist/js/chartist.min.js"></script>
    <link rel="stylesheet" href="/static/plugins/chartist/plugin/chartist-plugin-tooltip.css">/
    <script src="/static/plugins/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <!--<script src="/static/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>-->
    <!-- Resources -->
    <!--AM Chart-->
    <link rel="stylesheet" href="/static/plugins/amchart/plugins/export/export.css" type="text/css" media="all" />
    <script src="/static/plugins/ammap/ammap.js"></script>
    <script src="/static/plugins/ammap/maps/js/worldLow.js"></script>
    <script src="/static/plugins/ammap//plugins/export/export.min.js"></script>
    <script src="/static/plugins/amchart/amcharts.js"></script>
    <script src="/static/plugins/amchart/xy.js"></script>
    <script src="/static/plugins/amchart/serial.js"></script>
    <!--World Chart-->
    <script src="/static/plugins/amchart/themes/light.js"></script>

    <style>

        .link {
            stroke: #ccc;
            stroke-width : 2.5
        }

        .node text {
            pointer-events: none;
            font: 10px sans-serif;
        }

        div.tooltip {
            position: absolute;
            background-color: white;
            max-width: 500px;
            height: auto;
            padding: 1px;
            border-style: solid;
            border-radius: 4px;
            border-width: 1px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
            pointer-events: none;
        }

    </style>

    <style>
#worldchart {
  width: 65%;
  height: 400px;
}
</style>

    <script src="/static/js/page/index/dashboardmodif.js"></script>
    <script>

        $(document).ready(function() {
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip();
                });

                $(".color-cont").each(function () {
                    var txt = $(this).find('p');
                    $(txt).click(function () {
                        var index = $(this).index();
                        console.log(index)
                        $(txt).removeClass("active");
                        $(txt).eq(index).addClass("active");
                    });

                });

                $(".color-cont").each(function () {
                    var txt2 = $(this).find('span');
                    $(txt2).click(function () {
                        var index = $(this).index();
                        console.log(index)
                        $(txt2).removeClass("active");
                        $(txt2).eq(index).addClass("active");
                    });

                });
                setTimeout(function () {
                    $(".bar_chart").not(".act").hide();
                }, 500)

                $(".arr-wr img").click(function () {
                    var index = $(this).index();
                    $(this).addClass("btn-add");
                    $(".main-chart > div").hide();
                    $(".main-chart > div").eq(index).show();
                });

                drawChart();
                getTopBoard();


            });

            $(window).on('load', function() {
                setTimeout(function(){
                    $('.amcharts-scrollbar-horizontal').css("visibility", "hidden");
                    $('[aria-label="Zoom chart using cursor arrows"]').css("visibility", "hidden");
                }, 5000);
            });

        function drawChart(){
            //getTopBoard();
            getLineChart();
            getBarChart();
            getWorldChart();
            getGrid();
            getLineChartMalcode();
            getBarChartMalcode();
            getGridMalcode();

            //reloadData(); //Net Chart
        }

        jQuery('#worldchartDate').datepicker(
            { dateFormat: 'yy-mm-dd' }
                );


    </script>
{% endblock %}