{% extends "layout.html" %}

{% block head %}
<style>

#worldchartDiv{
    zoom:118%;
}
#chartLineChart, #chartBarChart  {
    width : 100%;
    height : 400px;
    font-size: 12px;
    zoom:118%;
}

</style>
{% endblock %}
{% block topOfBody %}
    <div id="modal-popup" class="popup-wrap">
			<div class="popup-detail">
				<div class="popup-top">
					<div class="left">
						<span style="font-size:22px; margin-left:10px">설정</span>
					</div>
					<div class="right popup-exit">
						<img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-WhiteList').hide()" alt="popup-exit" />
					</div>
				</div> <!-- popup-top -->

				<div class="popup-cont">
					<form id="popup-form" data-parsley-validate="">
                    <input type="hidden" name="pop_seq" id="pop_seq"/>
                        <div class="popup-input-wrap pop-area">
                            <label >Title 입력</label>
                            <input type="text" id="pop_title" style="width:480px" name="pop_link" placeholder=""
                                   value="{{ kibana_link }}" data-parsley-required="true" /><br><br>
                        </div>
                        <div class="popup-input-wrap pop-area">
                            <label >URL 입력</label>
                            <input type="text" id="pop_url" style="width:480px" name="pop_link" placeholder=""
                                   value="{{ kibana_link }}" data-parsley-required="true" /><br><br>
                        </div>
                        <div hidden>
                            <label >DIV_ID</label>
                            <input type="text" id="pop_div_id" style="width:380px" name="pop_link" placeholder=""
                                   value="{{ kibana_link }}" data-parsley-required="true" disabled/><br><br>
                        </div>
                    </form>
                </div>
                <div class="popup-bottom">
                    <div class="popup-ok" id="btnSaveSubmit">저장</div>
                    <div class="popup-cancel" data-dismiss="modal">취소</div>
				</div>
            </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="content-title">
        <div class="moni-txt">대시보스 프레임 수</div>
        <div style="margin-left: 10px; width:80px;">
            <select style="width:70px;" id="frameSelector">
              <option value="oneFrame" >1</option>
              <option value="fourFrame">4</option>
              <option value="eightFrame">8</option>
              <option value="twelveFrame" selected>12</option>
            </select>
        </div>
        <div style="vertical-align: bottom;margin-left:10px" hidden><p id="btnConfig" style="height:35px;padding-top: 5px;" class="syst-ok back-bg" hidden>설정</p></div>
        <!--<div class="moni-right" >메인 <img src="/static/img/title-bar.png" alt="arrow" /> 위협정보 현황-->
        </div>
        <div class="inner-hr">
            <!--<p>대시보드 프레임 수</p>-->
        </div>
    </div>
    <div style="width:100%;" class="container fill" hidden>
    <iframe src="{{ kibana_link }}" height="100%" width="100%"></iframe>
    </div>
    <div id="tbl_iframe_outline">
        <table>
            <tbody id="myTbody">
            <tr>
                <td>
                    <div id="fstBoxfstRowOuterMost" class="iframeOuterMostDiv">

                        <h3 id = "fstBoxfstRowTitle" style="text-align:center;">{{fstBoxfstRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "fstBoxfstRowURLSetting" style="">
                            </div>
                            <div class="setting-url-bg" id = "fstBoxfstRowURLDelete" onclick="readTitleAndURL('fstBoxfstRow');" style="">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "fstBoxfstRow">
                            <iframe src="{{fstBoxfstRowURL}}" scrolling="no" class="fstBoxfstRow"></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="sndBoxfstRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "sndBoxfstRowTitle">{{sndBoxfstRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "sndBoxfstRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "sndBoxfstRowURLDelete" onclick="readTitleAndURL('sndBoxfstRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "sndBoxfstRow">

                            <iframe src="{{sndBoxfstRowURL}}" scrolling="no" class="sndBoxfstRow"></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="trdBoxfstRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "trdBoxfstRowTitle">{{trdBoxfstRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "trdBoxfstRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "trdBoxfstRowURLDelete" onclick="readTitleAndURL('trdBoxfstRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "trdBoxfstRow">
                            <iframe src="{{trdBoxfstRowURL}}" scrolling="no" class="trdBoxfstRow"></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="fothBoxfstRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "fothBoxfstRowTitle">{{fothBoxfstRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "fothBoxfstRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "fothBoxfstRowURLDelete" onclick="readTitleAndURL('fothBoxfstRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "fothBoxfstRow">
                            <iframe src="{{fothBoxfstRowURL}}" scrolling="no" class="fothBoxfstRow"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="fstBoxsndRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "fstBoxsndRowTitle">{{fstBoxsndRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "fstBoxsndRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "fstBoxsndRowURLDelete" onclick="readTitleAndURL('fstBoxsndRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "fstBoxsndRow">
                            <iframe src="{{fstBoxsndRowURL}}" scrolling="no" class="fstBoxsndRow"></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="sndBoxsndRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "sndBoxsndRowTitle">{{sndBoxsndRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "sndBoxsndRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "sndBoxsndRowURLDelete" onclick="readTitleAndURL('sndBoxsndRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "sndBoxsndRow">
                            <iframe src="{{sndBoxsndRowURL}}" scrolling="no" class="sndBoxsndRow"></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="trdBoxsndRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "trdBoxsndRowTitle">{{trdBoxsndRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "trdBoxsndRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "trdBoxsndRowURLDelete" onclick="readTitleAndURL('trdBoxsndRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "trdBoxsndRow">
                            <iframe src="{{trdBoxsndRowURL}}" scrolling="no" class="trdBoxsndRow"></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="fothBoxsndRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "fothBoxsndRowTitle">{{fothBoxsndRowTitle}}</h3>
                            <div class="iframeDivBtnStyle">
                                <div class="setting-delete-url-bg" id = "fothBoxsndRowURLSetting">
                                </div>
                                <div class="setting-url-bg" id = "fothBoxsndRowURLDelete" onclick="readTitleAndURL('fothBoxsndRow');">
                                </div>
                            </div>
                         <div class="thumbnailchan" id = "fothBoxsndRow">
                            <iframe src="{{fothBoxsndRowURL}}" scrolling="no" class="fothBoxsndRow"></iframe>
                         </div>
                     </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="fstBoxtrdRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "fstBoxtrdRowTitle">{{fstBoxtrdRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "fstBoxtrdRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "fstBoxtrdRowURLDelete" onclick="readTitleAndURL('fstBoxtrdRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "fstBoxtrdRow">

                            <iframe src="{{fstBoxtrdRowURL}}" scrolling="no" class="fstBoxtrdRow"></iframe>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="sndBoxtrdRowOuterMost" class="iframeOuterMostDiv">
                    <h3 id = "sndBoxtrdRowTitle">{{sndBoxtrdRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "sndBoxtrdRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "sndBoxtrdRowURLDelete" onclick="readTitleAndURL('sndBoxtrdRow');">
                            </div>
                        </div>
                    <div class="thumbnailchan" id = "sndBoxtrdRow">
                        <iframe src="{{sndBoxtrdRowURL}}" scrolling="no" class="sndBoxtrdRow"></iframe>
                    </div>
                    </div>
                </td>
                <td>
                    <div id="trdBoxtrdRowOuterMost" class="iframeOuterMostDiv">
                    <h3 id = "trdBoxtrdRowTitle">{{trdBoxtrdRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                        <div class="setting-delete-url-bg" id = "trdBoxtrdRowURLSetting">
                        </div>
                        <div class="setting-url-bg" id = "trdBoxtrdRowURLDelete" onclick="readTitleAndURL('trdBoxtrdRow');">
                        </div>
                        </div>
                    <div class="thumbnailchan" id = "trdBoxtrdRow">
                        <iframe src="{{trdBoxtrdRowURL}}" scrolling="no" class="trdBoxtrdRow"></iframe>
                    </div>
                    </div>
                </td>
                <td>
                    <div id="fothBoxtrdRowOuterMost" class="iframeOuterMostDiv">
                        <h3 id = "fothBoxtrdRowTitle">{{fothBoxtrdRowTitle}}</h3>
                        <div class="iframeDivBtnStyle">
                            <div class="setting-delete-url-bg" id = "fothBoxtrdRowURLSetting">
                            </div>
                            <div class="setting-url-bg" id = "fothBoxtrdRowURLDelete" onclick="readTitleAndURL('fothBoxtrdRow');">
                            </div>
                        </div>
                        <div class="thumbnailchan" id = "fothBoxtrdRow">

                            <iframe src="{{fothBoxtrdRowURL}}" scrolling="no" class="fothBoxtrdRow"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--<div class="thumbnailchan" id = "fstBoxfothRow">-->
                        <!--<h2>Hello!</h2>-->
                        <!--<iframe src="http://www.foxnews.com" scrolling="no"></iframe>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<div class="thumbnailchan" id = "sndBoxfothRow">-->
                        <!--<h2>Hello!</h2>-->
                        <!--<iframe src="http://www.foxnews.com" scrolling="no"></iframe>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<div class="thumbnailchan" id = "trdBoxfothRow">-->
                        <!--<h2>Hello!</h2>-->
                        <!--<iframe src="http://www.foxnews.com" scrolling="no"></iframe>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<div class="thumbnailchan" id = "fothBoxfothRow">-->
                        <!--<h2>Hello!</h2>-->
                        <!--<iframe src="http://www.foxnews.com" scrolling="no"></iframe>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>



    <!-- end row -->


{% endblock body %}

{% block endOfBody %}
    <script src="/static/plugins/parsleyjs/dist/parsley.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/static/plugins/chartist/js/chartist.min.js"></script>
    <link rel="stylesheet" href="/static/plugins/chartist/plugin/chartist-plugin-tooltip.css">/
    <script src="/static/plugins/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <!--<script src="/static/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>-->
    <!-- Resources -->
    <!--AM Chart-->
    <link rel="stylesheet" href="/static/plugins/amchart/plugins/export/export.css" type="text/css" media="all" />
    <script src="/static/plugins/ammap/ammap.js"></script>
    <script src="/static/plugins/ammap/maps/js/worldLow.js"></script>
    <script src="/static/plugins/ammap//plugins/export/export.min.js"></script>
    <script src="/static/plugins/amchart/amcharts.js"></script>
    <script src="/static/plugins/amchart/xy.js"></script>
    <script src="/static/plugins/amchart/serial.js"></script>
    <!--World Chart-->
    <script src="/static/plugins/amchart/themes/light.js"></script>

    <style>
        body {
            overflow:hidden;
        }

        .link {
            stroke: #ccc;
            stroke-width : 2.5
        }

        .node text {
            pointer-events: none;
            font: 10px sans-serif;
        }

        div.tooltip {
            position: absolute;
            background-color: white;
            max-width: 500px;
            height: auto;
            padding: 1px;
            border-style: solid;
            border-radius: 4px;
            border-width: 1px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
            pointer-events: none;
        }

    </style>

    <style>
#worldchart {
  width: 65%;
  height: 400px;
}
</style>

    <script src="/static/js/page/index/dashboardNPNew.js"></script>
    <script>
        $(document).ready(function() {
            $("#btnSaveSubmit").click(handleEditLink);
            });

        //Button Event
        $("#btnConfig").click(function(){
            $('#modal-popup').modal();
            //$('#popup-form').parsley().reset();
        });

        $("#frameSelector").change(function(){
            if($(this).val() == "oneFrame"){
                //alert("one Frame selected");
                twelveIFrameHidden();
                oneIframeShow();
            } else if ($(this).val() == "fourFrame"){
                //alert("four Frame selected");
                fourFrameShow();
            } else if ($(this).val() == "eightFrame"){
                //alert("eight Frame selected");
                eightFrameShow();
            } else if ($(this).val() == "twelveFrame"){
                //alert("tweleve Frame selected");
                showTwelveIFrame();
            }
        });

    </script>
{% endblock %}