{% extends "layout.html" %}

{% block head %}
    <style>
        /*svg.ct-chart-bar, svg.ct-chart-line{
            overflow: visible;
        }
        .ct-label.ct-label.ct-horizontal.ct-end {
            position: relative;
            justify-content: flex-start;
            text-align: left;
            width:35px;
            height:10px;
            transform-origin: 100% 0;
            transform: translate(-100%) rotate(90deg);
            white-space:nowrap;
            margin-top :0px;
            font-size:7px;
        }
        .ct-label.ct-horizontal { position: relative; transform: rotate(90deg); transform-origin: left; }*/
svg.ct-chart-bar, svg.ct-chart-line{
            overflow: visible;
        }
    		.ct-label.ct-horizontal.ct-end{
				position: relative;
				right: 10px;
				top: -20px;
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
				transform: rotate(45deg);
                margin :0px 0px 0px -10px;
		}
    svg.amcharts-category-axis { overflow:visible; }
    </style>
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="content-title">
        <div class="moni-txt">대시보드</div>
        <div class="moni-right">메인 <img src="/static/img/title-bar.png" alt="arrow" /> 대시보드
        </div>
        <div class="inner-hr">
        </div>
    </div>
    <div style="float:right;margin-bottom: 10px">
        시간 설정:
        <select id="timeSetting" >
            <option value="10m">10분</option>
            <option value="60m">1시간</option>
            <option value="1440m">24시간</option>
        </select>
        <input type="submit" onclick="drawChart();" style="width:70px" value="재검색">
    </div>

    <div id="divTopBoard1" class="row-ha">
        <div class="wid-4">
            <div class="moni-icon"><img class="link-ic link-ic01" src="/static/img/mini-stat-icon01.png" alt="수집파일" /></div>
                <div class="text-right moni-coutxt">
                <span id="counter_File_Gether" class="counter">0</span><br>
                수집 파일
            </div>
        </div>
        <div class="wid-4">
            <div class="moni-icon"><img class="link-ic link-ic02" src="/static/img/mini-stat-icon02.png" alt="분석 메일" /></div>
            <div class="text-right moni-coutxt">
                <span id="counter_File_Analysis" class="counter">0</span><br>
                분석 파일
            </div>
        </div>
        <div class="wid-4">
            <div class="moni-icon"><img class="link-ic link-ic03" src="/static/img/mini-stat-icon03.png" alt="악성 파일" /></div>
            <div class="text-right moni-coutxt">
                <span id="counter_File_Warning" class="counter">0</span><br>
                악성 파일
            </div>
        </div>
        <div class="wid-4">
            <div class="moni-icon"><img class="link-ic link-ic04" src="/static/img/mini-stat-icon04.png" alt="정상 파일" /></div>
            <div class="text-right moni-coutxt">
                <span id="counter_File_Normal" class="counter">0</span><br>
                정상 파일
            </div>
        </div>
        <div class="wid-4">
            <div class="moni-icon"><img class="link-ic link-ic05" src="/static/img/mini-stat-icon05.png" alt="수집 URI" /></div>
                <div class="text-right moni-coutxt">
                <span id="counter_URI_Gether" class="counter">0</span><br>
                수집 URI
            </div>
        </div>
        <div class="wid-4">
            <div class="moni-icon"><img class="link-ic link-ic06" src="/static/img/mini-stat-icon06.png" alt="분석 URI" /></div>
            <div class="text-right moni-coutxt">
                <span id="counter_URI_Analysis" class="counter">0</span><br>
                분석 URI
            </div>
        </div>
        <div class="wid-4">
            <div class="moni-icon"><img class="link-ic link-ic07" src="/static/img/mini-stat-icon07.png" alt="악성 URI" /></div>
            <div class="text-right moni-coutxt">
                <span id="counter_URI_Warning" class="counter">0</span><br>
                악성 URI
            </div>
        </div>
        <div class="wid-4 wid-last">
            <div class="moni-icon"><img class="link-ic link-ic08" src="/static/img/mini-stat-icon08.png" alt="정상 URI" /></div>
            <div class="text-right moni-coutxt">
                <span id="counter_URI_Normal" class="counter">0</span><br>
                정상 URI
            </div>
        </div>
    </div>

    <!--연결 관계도-->
    <div id="divNetChart" class="row row-wid" >
        <div id="container-tab">

            <div class="cnc-tabwr">

                <div class="tab-content">
                    <div class="card-box">
                        <div class="card-header card-bg" role="tab" id="headingOne">
                            <h5 class="mb-0 mt-0 ani-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#linkedChart" aria-expanded="true" aria-controls="linkedChart">
                                    <h4 class="mt-0 header-title ani-le">링크 DNA 그래프</h4>
                                    <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                                </a>
                                <div class="ani-top ani-rig ani-btn"><input type="button" onclick="window.open('/chart/net-link','analysis', 'width=740', 'height=320');" value="수동 분석" class="detail-submit"></div>
                            </h5>
                        </div>
                        <!-- <div id="world-map-markers" style="height: 500px"></div> -->
                        <div class="tab-pane collapse show" id="linkedChart" style="height:500px">
                        </div>

                    </div><!-- end map-box -->
                </div><!-- end tab-content -->
            </div><!-- end cnc-tabwr -->
        </div><!-- end container -->
    </div>
    <!--연결 관계도-->
    <!-- end row -->
    <!-- New Row -->
    <div class="row">

        <div class="col-lg-3">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSendBytes" aria-expanded="true" aria-controls="collapseSendBytes">
                                <h4 class="mt-0 header-title ani-le">Top 10 송신량</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseSendBytes" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartSendBytes" class="ct-chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseRecvBytes" aria-expanded="true" aria-controls="collapseRecvBytes">
                                <h4 class="mt-0 header-title ani-le">Top 10 수신량</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseRecvBytes" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartRecvBytes" class="bar_chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">

            <div id="accordion2" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box po-rel">
                    <div class="card-header card-bg" role="tab" id="headingOne2">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSendPkts" aria-expanded="true" aria-controls="collapseSendPkts">
                                <h4 class="mt-0 header-title ani-le">Top 10 송신 패킷수</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseSendPkts" class="collapse show" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartSendPkts" class="bar_chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">

            <div id="accordion2" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box po-rel">
                    <div class="card-header card-bg" role="tab" id="headingOne2">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseRecvPkts" aria-expanded="true" aria-controls="collapseRecvPkts">
                                <h4 class="mt-0 header-title ani-le">Top 10 수신 패킷수</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseRecvPkts" class="collapse show" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">

                                <div class="color-cont ani-le mo-flo color-cont02">
                                </div>
                            </div>

                            <div id="chartRecvPkts" class="bar_chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <!-- New Row -->
    <div class="row">

        <div class="col-lg-3">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSessionTime" aria-expanded="true" aria-controls="collapseSessionTime">
                                <h4 class="mt-0 header-title ani-le">Top 10 세션 유지시간</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseSessionTime" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartSessionTime" class="ct-chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box">
                    <div class="card-header card-bg" role="tab" id="headingOne">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSessionCount" aria-expanded="true" aria-controls="collapseSessionCount">
                                <h4 class="mt-0 header-title ani-le">Top 10 세션 수</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseSessionCount" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartSessionCount" class="bar_chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">

            <div id="accordion2" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box po-rel">
                    <div class="card-header card-bg" role="tab" id="headingOne2">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseServerCon" aria-expanded="true" aria-controls="collapseServerCon">
                                <h4 class="mt-0 header-title ani-le">Server 기준 접속수</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseServerCon" class="collapse show" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">
                            </div>

                            <div id="chartServerCon" class="bar_chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">

            <div id="accordion2" role="tablist" aria-multiselectable="true" class="m-b-20">
                <div class="card-box po-rel">
                    <div class="card-header card-bg" role="tab" id="headingOne2">
                        <h5 class="mb-0 mt-0 ani-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseClientCon" aria-expanded="true" aria-controls="collapseClientCon">
                                <h4 class="mt-0 header-title ani-le">Client 기준 접속수</h4>
                                <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                            </a>
                        </h5>
                    </div>

                    <div id="collapseClientCon" class="collapse show" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="card-block card-padd">

                            <div class="color-cont-wr mo-color-con">

                                <div class="color-cont ani-le mo-flo color-cont02">
                                </div>
                            </div>

                            <div id="chartClientCon" class="bar_chart act" style="height:320px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->


    <div class="row row-wid">
        <div id="container-tab">

            <div class="cnc-tabwr">
                <div class="tab-content">
                    <div class="card-box">
                        <div class="card-header card-bg" role="tab" id="headingOne">
                            <h5 class="mb-0 mt-0 ani-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#worldchartDiv" aria-expanded="true" aria-controls="worldchartDiv">
                                    <h4 class="mt-0 header-title ani-le">C&C 및 악성코드 유포지</h4>
                                    <div class="ani-top ani-rig ani-btn"><img src="/static/img/ani-top.png" alt="arrow" /></div>
                                </a>
                            </h5>
                        </div>
                        <div id="worldchartDiv" class="card-box map-box">

                            <!-- <div id="world-map-markers" style="height: 500px"></div> -->
                            <div class="tab-pane" id="cnc1">
                                <div id="worldchart" class="map-ifr ani-le">
                                </div>

                                <div class="map-table ani-rig">
                                    <div class="table-country">

                                        <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="5">

                                            <thead>
                                            <tr>
                                                <th>국가</th>
                                                <th>건수</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tblCountry-tbody">
                                            </tbody>
                                        </table>

                                    </div><!-- end table-country -->
                                    <div class="active table-bottom">
                                        <div>
                                            <div class="text-center">
                                                <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end map-table -->
                            </div> <!-- end tab-pane -->
                        </div><!-- end map-box -->
                    </div><!--end map-->
                </div> <!-- end tab-content -->
            </div><!-- end cnc-tabwr -->
        </div><!-- end container -->
    </div>
    <!-- end row -->


{% endblock body %}

{% block endOfBody %}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/static/plugins/chartist/js/chartist.min.js"></script>
    <link rel="stylesheet" href="/static/plugins/chartist/plugin/chartist-plugin-tooltip.css">/
    <script src="/static/plugins/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <!--<script src="/static/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>-->
    <!-- Resources -->
    <!--AM Chart-->
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/xy.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <!--World Chart-->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <style>

        .link {
            stroke: #ccc;
            stroke-width : 2.5
        }

        .node text {
            pointer-events: none;
            font: 10px sans-serif;
        }

        div.tooltip {
            position: absolute;
            background-color: white;
            max-width: 500px;
            height: auto;
            padding: 1px;
            border-style: solid;
            border-radius: 4px;
            border-width: 1px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
            pointer-events: none;
        }

    </style>

    <style>
#worldchart {
  width: 65%;
    max-width: 780px;
  height: 500px;
}
</style>

    <script src="/static/js/page/index/dashboard.js"></script>
    <script src="/static/js/page/index/dashboard_netchart.js"></script>

    <script>
        $(document).ready(function() {
                $(".color-cont").each(function () {
                    var txt = $(this).find('p');
                    $(txt).click(function () {
                        var index = $(this).index();
                        console.log(index)
                        $(txt).removeClass("active");
                        $(txt).eq(index).addClass("active");
                    });

                });

                $(".color-cont").each(function () {
                    var txt2 = $(this).find('span');
                    $(txt2).click(function () {
                        var index = $(this).index();
                        console.log(index)
                        $(txt2).removeClass("active");
                        $(txt2).eq(index).addClass("active");
                    });

                });
                setTimeout(function () {
                    $(".bar_chart").not(".act").hide();
                }, 500)

                $(".arr-wr img").click(function () {
                    var index = $(this).index();
                    $(this).addClass("btn-add");
                    $(".main-chart > div").hide();
                    $(".main-chart > div").eq(index).show();
                });

                drawChart();

            });

        function drawChart(){
            timeSetting = $("#timeSetting").val();
            getTopBoard();  //상단 현황판
            getSendBytes();
            getRecvBytes();
            getSendPkts();
            getRecvPkts();
            getSessionTime();
            getSessionCount();
            getServerCon();
            getClientCon();

            getWorldChart();
            reloadData(); //Net Chart
        }

    </script>
{% endblock %}