{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block topOfBody %}
    <div id="modal-popup" class="popup-wrap">
			<div class="popup-detail">
				<div class="popup-top">
					<div class="left">
						<span style="font-size:22px; margin-left:10px">등록</span>
					</div>
					<div class="right popup-exit">
						<img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-popup').hide()" alt="popup-exit" />
					</div>
				</div> <!-- popup-top -->

				<div class="popup-cont">
					<form id="popup-form" data-parsley-validate="">
                    <input type="hidden" name="pop_seq" id="pop_seq"/>
                        <div class="popup-input-wrap pop-area">
                            <label >패턴 명 (탐지명)</label><input type="text" id="pop_name" style="width:480px" name="ip" placeholder="" data-parsley-required="true" /><br><br>
                            <label >패턴</label><input type="text" id="pop_pattern" style="width:480px" name="ip" data-parsley-required="true" /><br><br>
                            <label >위험도</label>
                            <select id="pop_level">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select><br><br>
                            <label >설명</label><input type="text" id="pop_desc" name="desc" style="width:480px"><br><br>
                            <div hidden>
                            <label>패턴 등록경로</label>
                            <select id="pop_source" name="pop_source">
                                {% for row in pattern_list %}
                                    {% if row.UseYn == "1" %}
                                    <option value="{{ row.idx }}">{{ row.EXT1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popup-bottom">
                    <div class="popup-ok" id="btnAddSubmit">추가</div>
                    <div class="popup-ok" id="btnEditSubmit">수정</div>
                    <div class="popup-cancel" data-dismiss="modal">취소</div>
				</div>
            </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="search-bg bg-wrap-wh">
        <div class="search-wrap">
            <div class="sear-wrap analy-sear-wrap02" style="display:contents">
                <div hidden>
                <span >검색조건</span>
                <select id="search_source" name="search_source">
                    <option value="">패턴 등록경로</option>
                    {% for row in pattern_list %}
                        <option value="{{ row.idx }}">{{ row.EXT1 }}</option>
                    {% endfor %}
                </select>
                </div>
                <span>키워드</span>
                <input type="text" id="search_keyword" name="analy-sear-box" placeholder="">
                <div hidden>
                    <span >페이지당 </span>
                    <select id="perpage" name="analy-pagelist" form="analy-pageform">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100" selected>100</option>
                    </select>
                    <span class="day-txt">건</span>
                </div>
                <input type="submit" onclick="DatatableReload();" value="검색">
            </div><!-- sear-day-wr -->
        </div>

    </div><!-- search-bg -->

    <div class="bg-wrap-wh system-bg">
        <div class="secur-wrap">
            <div class="moni-txt">Snort 패턴</div> -
            <div id="divTotal" class="sear-txt cnc-down">총 0건</div>
            <div style="float:right;">
                    <div id="btnDeleteItem" class="syst-bg" onclick="deleteItem()">삭제</div>
                    <div id="btnEditItem" class="syst-bg" onclick="showEditDialog()">수정</div>
                    <div id="btnNewItem" class="syst-bg" >추가</div>
            </div>
        </div><!-- search-wrap -->

        <div class="row row-table-top">
            <div class="col-12 patt-tb-wr">
                <div class="table-sc01">

                    <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="7" style="width:100%">
                        <colgroup>
                            <col style="width:5%;">
                            <col style="width:15%;">
                            <col style="width:45%;">
                            <col style="width:5%;">
                            <col style="width:20%;">
                            <!--<col style="width:10%;"> -->
                            <col style="width:10%;">
                        </colgroup>

                        <thead class="pattern-table">
                        <tr>
                            <th></th>
                            <th id="pName">패턴명 (탐지명)</th>
                            <th>패턴 (Snort Rule)</th>
                            <th>위험도</th>
                            <th>설명</th>
                         <!--   <th>패턴 등록 경로</th> -->
                            <th>수정일</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>

                    </table>
                    <div class="active table-bottom">
                        <div>
                            <div class="text-center">
                                <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- col-12 -->
        </div>
        <div class="file-box-wrap" style="display:none">

            <div class="filebox">
                <span class="day-txt pad-right">파일 업로드 </span>
                <input class="upload-name" value="선택된 파일 없음" disabled="disabled">
                <label for="fileupload">파일선택</label>
                <input type="file" id="fileupload" class="upload-hidden">
                <p class="back-bar"></p>
                <input class="wid-box130 box-col" type="submit" value="CSV 업로드">
                <input class="wid-box130" type="submit" value="CSV 다운로드">
            </div>

        </div>

    </div> <!-- bg-wrap-wh -->
{% endblock %}
{% block endOfBody %}
    <script src="/static/js/page/rules/snort.js"></script>
    <script src="/static/plugins/parsleyjs/dist/parsley.js"></script>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        $(document).ready(function() {
            window.localStorage.setItem('columnIndex','none');
            TableManageDefault.init();
            //Paginate 디자인 적용
            $('#demo-foo-filtering_paginate').attr('class', 'pagination pagination-split footable-pagination m-t-10 m-b-0');
            $('#demo-foo-filtering_paginate').css('margin', '0 auto');

            //Button Event
            $("#btnNewItem").click(function(){
                $('#modal-popup').modal();
                $('#pop_pattern').val('');
                $("#pop_size").val('');
                $('#pop_desc').val('');
                $('#pop_source option:eq(0)').prop('selected', true);
                $('#btnAddSubmit').show();
                $('#btnEditSubmit').hide();
                $('#popup-form').parsley().reset();
            });

            //$('#password').passwordStrength({targetDiv: '#passwordStrengthDiv'});
            $("#btnAddSubmit").click(handleAddSubmit);
            $("#btnEditSubmit").click(handleEditSubmit);
            //$('#formAddAccount').parsley();
        } );

        $(".popup-wrap").css("display","none");

        //$.fn.dataTable.ext.classes.sPageButton = 'button primary_button';

    </script>
{% endblock %}