{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block topOfBody %}
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="content-title">
        <div class="moni-txt">IP-URI 맵</div>
        <div class="moni-right">메인 <img src="/static/img/title-bar.png" alt="arrow" /> Rule <img src="/static/img/title-bar.png" alt="arrow" />IP-URI 맵</div>
        <div class="inner-hr"></div>
    </div>
    <div class="search-bg bg-wrap-wh">
        <div class="search-wrap">
            <div class="sear-wrap ">
                <div class="sear-wrap ">
                    <select id="keywordType" name="keyword_type" >
                        <option value="">전체</option>
                        <option value="ip">IP</option>
                        <option value="uri">URI</option>
                    </select>
                    <span>키워드 : </span>
                    <input type="text" id="search_keyword" name="analy-sear-box" placeholder="">
                    <span >페이지당 </span>
                    <select id="perpage" name="analy-pagelist" form="analy-pageform">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="day-txt">건</span>
                    <input type="submit" onclick="DatatableReload();" value="검색">
                </div>
            </div><!-- sear-day-wr -->
        </div>

    </div><!-- search-bg -->

    <div class="bg-wrap-wh system-bg">
        <div class="secur-wrap">
            <div class="sear-txt flo-le">패턴 목록</div>
            <div id="divTotal" class="sear-txt flo-right cnc-down">총 0건</div>
            <div class="sear-inner-hr"></div>
        </div><!-- search-wrap -->

        <div class="row row-table-top">
            <div class="col-12 patt-tb-wr">
                <div class="table-sc01">

                    <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="7" style="width:100%">
                        <colgroup>
                            <col style="width:15%;">
                            <col style="width:30%;">
                            <col style="width:55%;">

                        </colgroup>

                        <thead class="pattern-table">
                        <tr>
                            <th>Timestamp</th>
                            <th>IP</th>
                            <th>URI</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>

                    </table>

                    <div class="active table-bottom">
                        <div>
                            <div class="text-center">
                                <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- col-12 -->
        </div>
        <div class="file-box-wrap" style="display:none">

            <div class="filebox">
                <span class="day-txt pad-right">파일 업로드: </span>
                <input class="upload-name" value="선택된 파일 없음" disabled="disabled">
                <label for="fileupload">파일선택</label>
                <input type="file" id="fileupload" class="upload-hidden">
                <p class="back-bar"></p>
                <input class="wid-box130 box-col" type="submit" value="CSV 업로드">
                <input class="wid-box130" type="submit" value="CSV 다운로드">
            </div>

        </div>

    </div> <!-- bg-wrap-wh -->
{% endblock %}
{% block endOfBody %}
    <script src="/static/js/page/ip_uri_maps/list.js"></script>
    <script src="/static/plugins/parsleyjs/dist/parsley.js"></script>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        $(document).ready(function() {
            TableManageDefault.init();
            //Paginate 디자인 적용
            $('#demo-foo-filtering_paginate').attr('class', 'pagination pagination-split footable-pagination m-t-10 m-b-0');
            $('#demo-foo-filtering_paginate').css('margin', '0 auto');
        } );

        $(".popup-wrap").css("display","none");

        //$.fn.dataTable.ext.classes.sPageButton = 'button primary_button';

    </script>
{% endblock %}