{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/jquery-datetimepicker/jquery.datetimepicker.css"/>
{% endblock %}
{% block topOfBody %}
    <div id="modal-popup" class="popup-wrap">
			<div class="popup-detail">
				<div class="popup-top">
					<div class="left">
                        <span style="font-size:22px; margin-left:10px">수정</span>
					</div>
					<div class="right popup-exit">
						<img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-popup').hide()" alt="popup-exit" />
					</div>
				</div> <!-- popup-top -->

				<div class="popup-cont">
					<form id="popup-form" data-parsley-validate="">
                    <input type="hidden" name="pop_seq" id="pop_seq"/>
                        <div class="popup-input-wrap pop-area">
                            <div hidden>
                            <label >Category</label><input type="text" id="pop_category" name="category" style="width:480px"><br><br>
                            </div>
                            <label >Index</label><input type="text" id="pop_index" name="index" style="width:480px" disabled><br><br>
                            <label >Id</label><input type="text" id="pop_id" name="id" style="width:480px" disabled><br><br>
                            <label >비고</label><input type="text" id="pop_etc" name="etc" style="width:480px"><br><br>
                            <!--<label >File</label><input type="text" id="pop_fname" name="filename" style="width:480px"><br><br>-->
                            <!--<label >탐지점</label><input type="text" id="pop_detection_source" name="dsource" style="width:480px"><br><br>-->
                            <div hidden>
                            <label >MD5</label><input type="text" id="pop_pattern" style="width:480px" name="ip" placeholder="" data-parsley-required="true" /><br><br><!-- UI coherence nameing changed-->

                            <label >장비</label><input type="text" id="pop_desc" name="desc" style="width:480px"><br><br>
                            <label>패턴 등록경로</label>
                            <select id="pop_source" name="pop_source" value="750">
                                {% for row in pattern_list %}
                                    {% if row.UseYn == "1" %}
                                    <option value="{{ row.idx}}">{{ row.EXT1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            </div>
                            <!--<label >설명</label><input type="text" id="pop_description" name="description" style="width:480px"><br><br>-->
                        </div>
                    </form>
                </div>
                <div class="popup-bottom">
                    <div class="popup-ok" id="btnAddSubmit">추가</div>
                    <div class="popup-ok" id="btnEditSubmit">수정</div>
                    <div class="popup-cancel" data-dismiss="modal">취소</div>
				</div>
            </div>
    </div>

    <div id="modal-popup-detailed-row-information" class="popup-wrap">
			<div class="popup-large" style="height:550px !important;">
				<div class="popup-top">
					<div class="left">
                        <span style="font-size:22px; margin-left:10px">URL Details</span>
					</div>
					<div class="right popup-exit">
						<img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-popup').hide()" alt="popup-exit" />
					</div>
				</div> <!-- popup-top -->

				<div class="popup-cont">
					<form id="popup-form-detailed-row-information" data-parsley-validate="">
                    <input type="hidden" name="pop_seq" id="pop_seq_detailed_row"/>
                        <div class="popup-input-wrap pop-area">

                            <br>
                            <label >Full URL</label>
                            <textarea id ="pop_up_full_url" style="overflow-y: scroll; height: 100px; width:1400px; resize: none;">

                            </textarea>
                            <br>
                            <br>
                            <label style="text-align:left; width:40px;">URL:</label><input type="text" id="pop_detail_url" name="index" style="width:480px" disabled><br><br>
                            <label style="width:80px;">Sub Path</label>
                            <textarea id ="pop_up_subpath" style="overflow-y: scroll; height: 100px; width:1400px; resize: none;">

                            </textarea>

                            <!--<label >File</label><input type="text" id="pop_fname" name="filename" style="width:480px"><br><br>-->
                            <!--<label >탐지점</label><input type="text" id="pop_detection_source" name="dsource" style="width:480px"><br><br>-->

                            <!--<label >설명</label><input type="text" id="pop_description" name="description" style="width:480px"><br><br>-->
                        </div>
                    </form>
                </div>
                <div class="popup-bottom">
                    <!--<div class="popup-ok" id="btnAddSubmit">추가</div>-->
                    <!--<div class="popup-ok" id="btnEditSubmit">수정</div>-->
                    <div class="popup-cancel" data-dismiss="modal">취소</div>
				</div>
            </div>
    </div>



    <div id="modal-popup-detailed-analysis" class="popup-wrap">
			<div class="popup-large">
				<div class="popup-top">
					<div class="left">
                        <span style="font-size:22px; margin-left:10px" id="namebar">URI 상세 분석결과</span>
					</div>
					<div class="right popup-exit">
						<img data-dismiss="modal" src="/static/img/popup-exit.png" onclick="$('#modal-popup').hide()" alt="popup-exit" />
					</div>
				</div> <!-- popup-top -->

				<div class="popup-cont">
					<form id="popup-form-detailed-analysis" data-parsley-validate="">
                    <input type="hidden" name="pop_seq" id="pop_seq_detailed_analysis"/>
                        <div class="popup-input-wrap pop-area">
                            <!--<div hidden>-->
                            <!--<label >Category</label><input type="text" id="pop_category" name="category" style="width:480px"><br><br>-->
                            <!--</div>-->
                            <!--<label >URL</label><input type="text" id="pop_url" name="url" style="width:480px"><br><br>-->
                            <!--<label >File</label><input type="text" id="pop_fname" name="filename" style="width:480px"><br><br>-->
                            <!--<label >탐지점</label><input type="text" id="pop_detection_source" name="dsource" style="width:480px"><br><br>-->
                            <!--<div hidden>-->
                            <!--<label >MD5</label><input type="text" id="pop_pattern" style="width:480px" name="ip" placeholder="" data-parsley-required="true" /><br><br>&lt;!&ndash; UI coherence nameing changed&ndash;&gt;-->

                            <!--<label >장비</label><input type="text" id="pop_desc" name="desc" style="width:480px"><br><br>-->
                            <!--<label>패턴 등록경로</label>-->
                            <!--<select id="pop_source" name="pop_source" value="750">-->
                                <!--{% for row in pattern_list %}-->
                                    <!--{% if row.UseYn == "1" %}-->
                                    <!--<option value="{{ row.idx}}">{{ row.EXT1 }}</option>-->
                                    <!--{% endif %}-->
                                <!--{% endfor %}-->
                            <!--</select>-->
                            <!--</div>-->
                            <!--<label >설명</label><input type="text" id="pop_description" name="description" style="width:480px"><br><br>-->
                            <br>
                            <label >IMAS</label> <span id = "imasdate"></span><span id = "imasDetectionResult" style="margin-left:15px;"></span><br>
                            <textarea id ="imas" style="overflow-y: scroll; height: 200px; width:1400px; resize: none;">

                            </textarea>
                            <br>
                            <br>
                            <br>
                            <label style="width:110px; " >ZombieZero</label> <span id = "zombiedate" style="margin-right: 15px; margin-left:10px;"></span><span id = "zombieDetectionResult" style="margin-left:15px;"></span><br>
                            <textarea id="zombie" style="overflow-y: scroll; height: 200px; width:1400px; resize: none;">

                            </textarea>
                        </div>
                    </form>
                </div>
                <div class="popup-bottom">
                    <!--<div class="popup-ok" id="btnAddSubmit">추가</div>-->
                    <!--<div class="popup-ok" id="btnEditSubmit">수정</div>-->
                    <div class="popup-cancel" data-dismiss="modal">취소</div>
				</div>
            </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Page-Title -->
    <div class="search-bg bg-wrap-wh">
        <div class="search-wrap">
            <div class="sear-day-wr">
                <div class="day-wid">
                <div class="day-wrap flo-le" style="display:contents">

                    <span class="day-txt">날짜 설정 </span>
                        <label>
                            <input type="text" id="dateFrom" value="{{ timefrom }}"> <img src="/static/img/search-icon.jpg" alt="Date Picker" id="datepickericon" />
                        </label>
                        ㅡ
                        <label>
                            <input type="text" id="dateTo" value="{{ timeto }}"><img src="/static/img/search-icon.jpg" alt="Date Picker" id="datepickericon2" />
                        </label>

                    <!--<div hidden>-->
                    <!--<span class="day-txt">검색조건 </span>-->
                    <!--<select id="search_source" name="search_source" style="width:10%;">-->
                        <!--<option value="">패턴 등록경로</option>-->
                        <!--{% for row in pattern_list %}-->
                            <!--<option value="{{ row.idx }}">{{ row.EXT1}}</option>-->
                        <!--{% endfor %}-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--<select id="search_type" style="width:4%;">-->
                        <!--<option value="">장비</option>-->
                        <!--{% for row in type_list %}-->
                            <!--<option value="{{ row.Code }}">{{ row.EXT1}}</option>-->
                        <!--{% endfor %}-->
                    <!--</select>-->

                    <span class="day-txt" style="margin-left:10px;">URI 분석결과</span>
                    <select id="search_security_level_url" style="width:4%;">
                        <option value="3">전체</option>
                        <option value="0">정상</option>
                        <option value="1">악성</option>
                        <option value="2">분석중</option>
                    </select>
                    <span class="day-txt" style="margin-left:10px;">파일 분석결과</span>
                    <select id="search_security_level_file" style="width:4%;">
                        <!--<option value="">결과</option>-->
                        <option value="3">전체</option>
                        <option value="0">정상</option>
                        <option value="1">악성</option>
                        <option value="2">분석중</option>
                    </select>
                    <span style="margin-left:10px;">  키워드 </span>
                    <select id="search_keyword_type" style="width:7%;">
                        <!--<option value="file_name">검색타입</option>-->
                        <option value="url">URL</option>
                        <option value="dst_ip">IP</option>
                        <option value="dst_country_code1">국가코드</option>
                        <option value="file_name">파일명</option>
                        <option value="md5">해시값</option>
                        <option value="data_type">탐지점</option>
                        <option value="malware_comment">탐지명</option>
                        <option value="detect_cnt_url">URI 분석결과[*(input)/*]</option>
                        <option value="detect_cnt_file">파일 분석결과[*(input/*]</option>
                    </select>


                    <input type="text" id="search_keyword" name="analy-sear-box" placeholder="" style="width:250px;">
                    <div hidden>
                        <span >페이지당 </span>
                        <select id="perpage" name="analy-pagelist" form="analy-pageform">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100" selected>100</option>
                        </select>
                        <span class="day-txt">건</span>
                    </div>

                    <input type="submit" onclick="DatatableReload();" value="검색" style="width:80px !important;">
                    <input type="submit" onclick="downloadExcel();" value="엑셀파일저장" style="width:130px !important;">

                </div>
                </div>
            </div><!-- sear-day-wr -->
        </div>

    </div><!-- search-bg -->

    <div class="bg-wrap-wh system-bg">
        <div class="secur-wrap">
            <div class="moni-txt">악성코드 분석현황</div> -
            <div id="divTotal" class="sear-txt cnc-down">총 0건</div>
            <div style="float:right; width:370px;">
                    <div id="" class="syst-bg" style="width:35%;" onclick="downloadMalCode()">악성파일저장</div>
                    <div id="btnDeleteItem" class="syst-bg" onclick="deleteItem()">삭제</div>
                    <div id="btnEditItem" class="syst-bg" onclick="showEditDialog()">수정</div>


            </div>
        </div><!-- search-wrap -->

        <div class="row row-table-top">
            <div class="col-12 patt-tb-wr">
                <div class="table-sc01">

                    <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="10" style="width:100%">
                        <!--<colgroup>-->
                            <!--&lt;!&ndash;<col style="width:5%;"/>&ndash;&gt;-->
                            <!--<col style="width:3%;"/>-->
                            <!--<col style="width:10%;"/>-->
                            <!--<col style="width:14%;"/>-->
                            <!--<col style="width:13%;"/>-->
                            <!--<col style="width:5%;"/>-->
                            <!--<col style="width:10%;"/>-->
                            <!--<col style="width:5%;"/>-->
                            <!--<col style="width:5%;"/>-->
                            <!--<col style="width:7%;"/>-->
                            <!--<col style="width:7%;"/>-->
                            <!--<col style="width:10%;"/>-->
                            <!--<col style="width:5%;"/>-->
                            <!--<col style="width:10%;"/>-->
                        <!--</colgroup>-->

                        <!--<colgroup>-->
                            <!--<col style="width:5%;"/>-->
                            <!--<col style="width:35%;"/>-->
                            <!--<col style="width:35%;"/>-->
                            <!--<col style="width:15%;"/>-->
                            <!--<col style="width:10%;"/>-->
                        <!--</colgroup>-->

                        <thead class="pattern-table">
                        <tr>
                            <!--<th></th>-->
                            <th></th>
                            <th>분석일</th>
                            <th>URL</th>
                            <th>IP</th>
                            <th>국가</th>
                             <!-- New UI requirement, column name changed.-->
                            <th>파일정보</th> <!-- New UI requirement, column name changed.-->
                            <th>탐지점</th>
                            <th>탐지명</th>
                            <th>URI결과</th> <!-- New UI requirement, column name changed.-->
                            <th>파일결과</th>
                            <th>비고</th>
                            <th>재분석</th>
                            <th>여부</th>

                        </tr>
                        </thead>

                        <!--<thead class="pattern-table">-->
                        <!--<tr>-->
                            <!--<th></th>-->
                            <!--<th>해시(MD5)</th> &lt;!&ndash; New UI requirement, column name changed.&ndash;&gt;-->
                            <!--<th>설명</th>-->
                            <!--<th>등록자</th> &lt;!&ndash; New UI requirement, column name changed.&ndash;&gt;-->
                            <!--<th>등록일</th>-->
                        <!--</tr>-->
                        <!--</thead>-->

                        <tbody>
                        </tbody>

                    </table>
                    <div class="active table-bottom">
                        <div>
                            <div class="text-center">
                                <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- col-12 -->
        </div>
        <!--<form id="formUpload" data-parsley-validate="" action="maliciousCodeAnalysis/malfileupload" method="post" enctype="multipart/form-data">-->
        <!--<div class="file-box-wrap" style="">-->

            <!--<div class="filebox">-->
                <!--<span class="day-txt pad-right">파일 분석요청: </span>-->
                <!--<input class="upload-name" value="선택된 파일 없음" disabled="disabled">-->
                <!--<label for="fileupload">파일선택</label>-->
                <!--<input type="file" id="fileupload" class="upload-hidden">-->
                <!--<p class="back-bar"></p>-->
                <!--<div class="popup-ok" id="btnFileSubmit">분석</div>-->
                <!--&lt;!&ndash;<input class="wid-box130 box-col" type="submit" value="분석" onclick="fileSubmit();">&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="wid-box130" type="submit" value="CSV 다운로드">&ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
        <!--</form>-->
        <form id="formUpload" data-parsley-validate="" action="/maliciousCodeAnalysis/malfileUpload" method="post" enctype="multipart/form-data" style="text-align:center !important;" >

                    <table style="display:inline-block; table-align:center;">
                        <tr>
                            <td>

                                  <label >URL 분석요청</label><input type="text" id="manualURLRequest" name="urlanalysis" style="width:450px; margin-left:40px; height: 40px;">
                            </td>
                            <td>
                                <div class="syst-sm-bg-black" id="urlmanualsubmit" style="width:100px !important; height:40px !important; padding-top:10px !important;" onclick="urlmanualanalysisRequest();">분석</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="pop_seq_file" type="hidden">
                                    <div class="popup-input-wrap pop-area filebox" style="display:inline-block !important;">

                                        <span class="day-txt" style="width:120px;display:inline-block">파일분석요청: </span>
                                        <input id="pop_file_name" class="upload-name"  value="선택된 파일 없음" disabled="disabled">
                                        <label for="pop_file" style="width:100px;text-align:center;padding-right:0px">파일선택</label>
                                        <input id="pop_file" type="file" class="upload-hidden">


                                    </div>
                            </td>
                            <td>
                                <div class="syst-sm-bg-black" id="btnFileSubmit" style="width:100px !important; height:40px !important; padding-top:10px !important;">분석</div>
                            </td>
                        </tr>
                    </table>



        </form>
        <!--<form action="/secure_log/maliciousCodeAnalysis/uploadlist" method="post" enctype="multipart/form-data">-->
            <!--Select MaliciousFile to upload:-->
            <!--<input type="file" name="fileToUpload" id="fileToUpload">-->
            <!--<input type="submit" value="Upload Image" name="submit">-->
        <!--</form>-->

    </div> <!-- bg-wrap-wh -->
    <div class="myModal"><!-- Place at bottom of page --></div>
{% endblock %}
{% block endOfBody %}
    <script src="/static/plugins/jquery-datetimepicker/jquery.datetimepicker.js"></script>
    <script src="/static/plugins/jquery-datetimepicker/build/jquery.datetimepicker.full.js"></script>
    <script src="/static/js/page/secure-log/maliciousCodeAnalysisNew.js"></script>
    <script src="/static/plugins/parsleyjs/dist/parsley.js"></script>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples
        $body = $("body");
        $(document).ready(function() {
            TableManageDefault.init();

            var fileTarget = $('.filebox .upload-hidden');

            fileTarget.on('change', function(){ // 값이 변경되면
                if(window.FileReader){ // modern browser
                    var filename = $(this)[0].files[0].name;
                } else { // old IE
                    var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
                } // 추출한 파일명 삽입

                $(this).siblings('.upload-name').val(filename);

            });

            //Paginate 디자인 적용
            $('#demo-foo-filtering_paginate').attr('class', 'pagination pagination-split footable-pagination m-t-10 m-b-0');
            $('#demo-foo-filtering_paginate').css('margin', '0 auto');

            //Button Event
            $("#btnNewItem").click(function(){
                $('#modal-popup').modal();
                $('#pop_pattern').val('');
                $("#pop_size").val('');
                $('#pop_desc').val('');
                $('#pop_source option:eq(0)').prop('selected', true);
                $('#btnAddSubmit').show();
                $('#btnEditSubmit').hide();
                $('#popup-form').parsley().reset();
            });

            //$('#password').passwordStrength({targetDiv: '#passwordStrengthDiv'});
            $("#btnAddSubmit").click(handleAddSubmit);
            $("#btnEditSubmit").click(handleEditSubmit);
            $("#btnFileSubmit").click(fileSubmit);
            //$('#formAddAccount').parsley();

            jQuery('#dateFrom').datetimepicker({
                format:'Y-m-d H:i'
            });
            jQuery('#dateTo').datetimepicker({
                format:'Y-m-d H:i'
            });
        } );

        $(".popup-wrap").css("display","none");

        //$.fn.dataTable.ext.classes.sPageButton = 'button primary_button';

    </script>
{% endblock %}